*{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: inherit;
}

ul li{
  padding-left: 0;
  list-style: none;
}

.App {
  text-align: center;
}

header{
  width: 100%;
  height: 70px;
  background-color: #111;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.logo{
  width: 200px;
  height: 70px;
  align-content: center;
}

nav{
  width: 450px;
  height: 100%;
}

nav ul{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 22px;
}

.content{
  width: 100%;
  height: calc(100vh - 70px);
  display: grid;
  place-content: center;
}

.search-area{
  width: 1440px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-area select{
  width: 200px;
  height: 40px;
  border: 1px solid black;
  padding-left: 10px;
  margin-right: 10px;
  font-size: 20px;
  border-radius: 10px;
}

.search-area input{
  width: 400px;
  padding-left: 10px;
  height: 40px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 20px;
}

.table-area{
  width: 1455px;
  height: 450px;
  overflow-y: auto;
  font-size: 20px;
}

table {
  width: 1440px;
  border-collapse: collapse;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}

.table-area::-webkit-scrollbar {
  width: 15px;
}

.table-area::-webkit-scrollbar-thumb {
  background-color: #111;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}

.table-area::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}

th{
  background-color: black;
  color: #fff;
}

tr:hover{
  background-color: turquoise;
}

th, td{
  border: 1px solid black;
  padding: 5px 10px;
}

td{
  height: 50px;
}

.modal-area {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 20px;
  width: 1440px;
  border-radius: 10px;
  position: relative;
}

.modal-content > h1{
  height: 60px;
  line-height: 40px;
}

iframe{
  width: 1440px;
  height: 750px;
  border: none;
  margin: 0 auto;
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0px 20px;
  font-size: 18px;
  height: 40px;
  background: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.code-show-btn{
  position: absolute;
  top: 20px;
  right: 105px;
  background-color: #111;
  color: #fff;
  width: 150px;
  height: 40px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}

.code-area {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  padding: 10px;
}

.code-box {
  margin: 0 10px;
  padding: 10px;
  width: 30%;
  height: 80vh;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  overflow-y: auto;
  line-height: 1.5;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: left;
  font-size: 18px;
  color: #111;
}

.code-hidden-btn{
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0px 20px;
  font-size: 18px;
  height: 40px;
  background: #fff;
  color: #111;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

footer{
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #111;
  color: #fff;
}

address{
  width: 400px;
}

.sns{
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.sns .github{
  filter: invert(1);
  width: 40px;
  height: 40px;
}

.sns .insta{
  filter: grayscale(50%);
  width: 50px;
  height: 50px;
}