.App {
  text-align: center;
}

.table-area{
  margin: 0 auto;
  width: 1470px;
  height: 350px;
  overflow-y: scroll;
  font-size: 20px;
}

table {
  width: 1440px;
  border-collapse: collapse;
}

th{
  background-color: black;
  color: #fff;
}

tr:hover{
  background-color: turquoise;
}

th, td{
  border: 1px solid black;
  padding: 5px 10px;
}

.iframe-area{
  width: 100%;
  height: 1000px;
  margin-top: 50px;
}

.iframe-area h1{
  width: 100%;
  height: 50px;
  align-content: center;
}

iframe{
  width: 1440px;
  height: 750px;
  border: none;
  margin: 0 auto;
}

.code-container {
  display: flex;
  margin-top: 20px;
}

.code-box {
  flex: 1;
  margin: 0 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  overflow: auto;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: left;
}
