.App {
  text-align: center;
}

.page1{
  width: 100%;
  height: 100vh;
  display: grid;
  place-content: center;
}

.table-area{
  width: 1470px;
  height: 450px;
  overflow-y: scroll;
  font-size: 20px;
}

table {
  width: 1440px;
  border-collapse: collapse;
}

th{
  background-color: black;
  color: #fff;
}

tr:hover{
  background-color: turquoise;
}

th, td{
  border: 1px solid black;
  padding: 5px 10px;
}

.iframe-area{
  width: 100%;
  height: 1000px;
  margin-top: 50px;
}

.iframe-area h1{
  width: 100%;
  height: 50px;
  align-content: center;
}

iframe{
  width: 1440px;
  height: 750px;
  border: none;
  margin: 0 auto;
}

.codeShowBtn{
  position: absolute;
  top: 10px;
  right: 100px;
  background-color: #111;
  color: #fff;
  width: 150px;
  height: 40px;
  font-size: 18px;
  border-radius: 5px;
}

.exCode{
  top: 0;
  left: 40px;
  position: absolute;
  color: #111;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #fff;
}

.code-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  padding: 10px;
}

.code-box {
  margin: 0 10px;
  padding: 10px;
  width: 30%;
  height: 80vh;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  overflow-y: auto;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: left;
  font-size: 18px;
  color: #111;
}

.codeHiddenBtn{
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  color: #111;
  font-weight: bold;
  width: 150px;
  height: 40px;
  font-size: 20px;
  border-radius: 5px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 20px;
  width: 1440px;
  border-radius: 8px;
  position: relative;
}

.modalClose {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0px 20px;
  font-size: 18px;
  height: 40px;
  background: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
